---
name: Test on pull request

# yamllint disable-line rule:truthy
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  test-image-build:
    runs-on: ubuntu-latest
    container:
      image: fedora:43
      options: --privileged

    steps:
    # yamllint disable-line rule:indentation
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        dnf install -y make git podman

    - name: Run tests
      run: |
        make test
      timeout-minutes: 15
